/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barrio-regular {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
  }

/* GENERAL */

header{
    background-color: #3A8ABE;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 18pt;
}
  
body {
    background-color: rgb(236, 213, 171);

}

nav {
    text-decoration: none;

}

h1 {
    color: rgb(223, 89, 27);
    font-size: 120pt;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
color: aliceblue;
}

.barra ul {
    list-style: none;
}
.barra ul li {
    display: inline;
}

.barra a {
    color: aliceblue;
    text-decoration: none;
}

.barra a:hover {
    color: yellowgreen;
}

main{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call{
    color: #3A8ABE;
    width: 60%;
    border: 3px solid orange;
    padding: 20px;
}